
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $font;
  font-weight: $normal;
  line-height: normal;
  scroll-behavior: smooth;
  div,
  label,
  span,
  ul,
  li {
    display: flex;
  }
}
ol,
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  transition: $transition;
  &:hover {
    text-decoration: none;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
svg {
  fill: $black;
}
