<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Components v1.0</title>
<meta name="description" content="Components v1.0">
<meta name="author" content="ariflive.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap">
<link rel="stylesheet" href="../assets/css/main.css">
<link rel="stylesheet" href="../assets/css/components/topbars.css">
</head>
<body>


<!-- Layer -->
<div class="layer">
	<h1>Topbars</h1>
	<h3>Theme</h3>
	<h6>Simple</h6>
</div>


<!-- Topbars -->
<header class="am-topbar">
	<div class="am-wrapper">
		<div class="am-logo">
			<a href="">
				<img src="../assets/images/logo.svg" alt="" />
				<span class="am-name">Business Name</span>
			</a>
		</div>
		<div class="am-search">
			<input type="text" value="" placeholder="What are you looking?" />
		</div>
		<nav class="am-navigation">
			<ul>
				<li>
					<a href="">Who We Are</a>
				</li>
				<li>
					<a href="">Products</a>
				</li>
				<li>
					<a href="">Features</a>
				</li>
				<li>
					<a href="">Contact Us</a>
				</li>
			</ul>
		</nav>
		<div class="am-cta">
			<a href="">Free Quote</a>
		</div>
	</div>
</header>


<!-- Layer -->
<div class="layer">
	<h3>Theme</h3>
	<h6>Dark</h6>
</div>


</body>
</html>
